:root {
    --main-font-family: "Roboto";
    --orange-main: #F23900;
    --orange-alternative: #F65B00;
    --color-title: #873a10;
    --orange-title: #FF7E00;
    --color-gray: #4C4B4B;
    --orange-tom:#E35E1D;
    --orange-tom-two: #F23900;
}

body {
    font-family: var(--main-font-family);
}