.banner {
  background: linear-gradient(180deg, #fff 0%, #ffc993 100%);
}

.container-banner {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.container__banner__info {
  width: 50%;
}

.banner-info {
  display: flex;
  justify-content: space-evenly;
}

.banner-info__circle {
  position: relative;
  text-align: center;
}

.circle {
  width: 200px;
}

.banner-info__paragraph {
  color: white;
  font-size: 24px;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.more-than {
  color: #6e6769;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.two-thousand {
  font-weight: bold;
  font-size: 40px;
}

.doctor {
  font-size: 40px;
  font-weight: bold;
}

.cent {
  font-weight: bold;
  font-size: 40px;
}

.text {
  font-size: 24px;
}

.img-girls {
  margin-left: 14%;
}

.text-main {
  color: var(--orange-main);
  font-weight: 700;
  font-size: 70px;
  margin-left: 20%;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
}

.container-banner__text {
  text-align: center;
}

.container-banner__title {
  color: var(--color-title);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1rem;
  text-transform: uppercase;
}

.container-banner__paragraph {
  color: #756e70;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner__anchor {
  margin-top: 80px;
}

.banner__anchor__link {
  border: 6px solid var(--orange-alternative);
  border-radius: 50px;
  color: var(--orange-alternative);
  font-weight: 700;
  font-size: 50px;
  margin-top: 50px;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
