.banner {
  background: linear-gradient(180deg, #fff 0%, #ffc993 100%);
}

.container-banner {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.container__banner__info {
  width: 50%;
}

.banner-info {
  display: flex;
  justify-content: space-evenly;
}

.banner-info__circle-one,
.banner-info__circle-two,
.banner-info__circle-tree {
  position: relative;
  text-align: center;
}

.banner-info__circle-one {
  margin-left: -19px;
  margin-top: 110px;

}

.banner-info__circle-tree {
  margin-right: 64px;
  margin-top: 95px;

}

.circle {
  width: 200px;
}

.banner-info__paragraph,
.banner-info__paragraph-two {
  color: white;
  font-size: 24px;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.banner-info__paragraph-two {
  margin-top: -50px;
  font-size: 22px;
}

.more-than {
  color: #6e6769;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.two-thousand {
  font-weight: bold;
  font-size: 40px;
}

.doctor {
  font-size: 40px;
  font-weight: bold;
}

.cent {
  font-weight: bold;
  font-size: 40px;
}

.text {
  font-size: 24px;
}

.img-girls {
  margin-left: 11%;
  z-index: 12px;
  position: relative;
}

.text-main {
  color: var(--orange-main);
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  margin-left: -42px;
  white-space: normal;
}

.container-banner__text {
  text-align: center;
}

.container-banner__title {
  color: var(--color-title);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1rem;
  text-transform: uppercase;
}

.container-banner__paragraph {
  color: #756e70;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner__anchor {
  margin-top: 80px;
}

.banner__anchor__link {
  border: 6px solid var(--orange-alternative);
  border-radius: 50px;
  color: var(--orange-alternative);
  font-weight: 700;
  font-size: 50px;
  margin-top: 50px;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.flowers {
  display: flex;
}

.flowers__one {
  width: 257px;
	margin-top: -166px;
}

.flowers__two {
  width: 257px;
	margin-top: -166px;
	margin-left: -65px;
}

@media (min-width: 1200px) {
  .container-banner__title {
    font-size: 60px;
  }

  .container-banner__paragraph {
    font-size: 35px;
  }

  .banner__anchor__link {
    font-size: 35px;
  }

  .banner-info {
    justify-content: space-between;
  }

  .circle {
    width: 170px;
  }

  .img-girls {
    width: 670px;
    margin-top: -172px;
  }

  .more-than {
    font-size: 24px;
  }

  .two-thousand {
    font-size: 35px;
  }

  .banner-info__paragraph {
    font-size: 22px;
  }

  .doctor {
    font-size: 38px;
  }

  .text {
    font-size: 18px;
  }

  .text-main {
    margin-top: -1%;
  }
}

@media screen and (max-width: 768px) {
  .container-banner {
    padding: 0;
  }

  .banner-info {
    display: none;
  }

  .container-banner {
    flex-direction: column;
  }

  .img-girls {
    width: 355px;
    margin-left: 0;
    margin-top: 5%;
  }

  .container__banner__info {
    width: 100%;
    text-align: center;
  }

  .text-main {
    font-size: 46px;
    margin-top: -2%;
    margin: auto auto;
  }

  .container-banner__title {
    font-size: 44px;
  }

  .container-banner__paragraph {
    font-size: 28px;
  }

  .banner__anchor {
    margin: 40px;
  }

  .banner__anchor__link {
    font-size: 25px;
  }

  .flowers__one, .flowers__two {
    display: none;
  }
}
