.brand-header {
  align-items: center;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 240px;
  margin-left: 10%;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 180px;
  }
}