.information {
  background-color: var(--orange-alternative);
}

.information-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.information-container__icon {
  height: 130px;
  margin-right: 20px;
  width: 130px;
}

.information-container__text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-right: 50px;
  text-transform: uppercase;
}

.line {
  border-right: 3px solid #fff;
  height: 200px;
  margin-right: 45px;
}

@media screen and (min-width: 1200px) {
  .information-container__text {
    font-size: 20px;
  }

  .information-container__icon {
    width: 110px;
  }
}

@media screen and (max-width: 720px) {
  .information-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .line {
    border-top: 2px solid #fff;
    width: 100%;
    margin: 10px 0;
    height: 0;
    margin-bottom: 50px;
  }

  .information-container__icon {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100px;
  }

  .information-container__text {
    font-size: 26px;
    margin-right: 0;
    margin-bottom: 65px;
  }
}
